body {
  background: url('/static/imgs/Backgrounds/houndstooth.png') repeat;
  background-size: 200px 200px; 
  font-family: 'Playfair Display', serif;
  margin: 0;
}


.card {
  background-color: #F8EFDF;
  border: 1px solid #333;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin: 2rem auto;
  max-width: 400px;
  padding: 2rem;
  text-align: center;
}

.card_btn--yellow{
  background-color: #f3e7cb;
  border: 1px solid #333;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}
.card_btn--yellow:hover{
  background-color: #e6d9b7;
}
.card_btn--yellow[aria-pressed="true"] {
  background-color: #897850;
  border: 1px solid #333;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

.card_btn--pink {
  background-color: #d08b7e;
  border: 1px solid #333;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  padding: 0.8rem 2rem;
}
.card_btn--pink:hover {
  background-color: #b67466;
}

.card_img--small {
  alt: "blank";
  border: 1px solid #333;
  border-radius: 4px;
  background-color: white;
  gap: 1rem;
  height: 100px;
  justify-content: center;
  width: 100px;
  src: "/static/imgs/Placeholders/blank.png";
}

.card_img--small--link{
  alt: "blank";
  border: 1px solid #333;
  border-radius: 4px;
  background-color: white;
  gap: 1rem;
  height: 100px;
  justify-content: center;
  width: 100px;
  src: "/static/imgs/Placeholders/blank.png";
}

.card_img--small--link:hover {
  filter: brightness(30%);
}

.card_imgGallery {
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

.card_input {
  border: 1px solid #333;
  border-radius: 4px;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 0.5rem;
  width: 100%;
}

.card_text {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  color: #555;
}


.nav {
  background-color: #333;
  color: white;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  gap: 2rem;
  justify-content: center;
  padding: 1rem;
  text-decoration: none;
}
.nav_link:link{
  text-decoration: none;
}
.nav_link:visited {
  color: white;
  text-decoration: none;
}
.nav_link:hover {
  color: darkgray;
  text-decoration: underline;
}


div.scroll-container {
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

