<!DOCTYPE html>
<html>
<head>
  <title>Cher's Closet</title>
</head>
<body>

  <form id="outfitForm">
    <label for="zipcode">Zipcode:</label>
     <input id="zipcode" type="text">
    <!---<input id="zipcode" type="text" maxlength="5" pattern="\d{5}" title="5 digits" required>--->
    <br>
    <input id="accessoryBtn" type="checkbox" value="addAccessory"/>
    <label for="accessoryBtn">Accessory?</label>
    <button id="createBtn" type="submit">Create!</button>
  </form>
  <br><br>
  <img id="top" width="100px" height="100px" src="/static/imgs/Placeholders/blank.png">
  <img id="bottom" width="100px" height="100px" src="/static/imgs/Placeholders/blank.png">
  <img id="accessory" width="100px" height="100px" src="/static/imgs/Placeholders/blank.png">
  <p id="weatherBox"></p>

  <script src="/static/js/main.js"></script>
</body>
</html>